header .carousel {
    img {
        object-fit: cover;
        width: 100vw;
        height: 30vh;
        filter: brightness(50%);

        @media screen and (max-height: 480px) {
            height: 40vh; 
        }

        @media screen and (max-height: 315px) {
            height: 60vh;
        }
    }

    .caption {
        h1 {
            font-weight: bold;
            text-decoration: underline;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

$articles-list-bgcolor: #1f2125;
$articles-list-bordercolor: #2a2a2a;
$article-size: 120px;
.articles-list {
    background-color: $articles-list-bgcolor;
    padding: 7.5px;
    border: 2px solid $articles-list-bordercolor;
    border-radius: 1.15rem;
    overflow-x: auto;

    .disabled-text {
        user-select: none;
        color: grey;
    }

    .article {
        width: $article-size;
        height: $article-size;
        font-size: 1rem;

        /*centering*/
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}