/*stilizare aplicata peste tot*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

$bg-color: #272d31;
$btn-bgcolor: #17191c;
$btn-gradient: linear-gradient(45deg, rgb(68, 18, 68), rgb(135, 0, 110));

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    h1, h2, h3, h4, h5, h6, p, span, pre, li {
        font-family: 'Noto Sans Mono', monospace;
        color: white;
    }
}

@keyframes btnhover {
    from {
        color: white;
    } 
    to {
        background-color: white;
    }
}

.dark-btn {
    animation: btnHover 0.5s;
    animation-direction: reverse;
    color: white;
    background-color: $btn-bgcolor;

    &:hover {
        animation: btnhover 0.5s;
        background-image: $btn-gradient;
        text-decoration: underline;
    }
}