@keyframes problemListFade {
    from { opacity: 0; }
    to { opacity: 1.0; }
}

@keyframes solveBtnHover {
    from {
        color: white;
        background-color: #212529;
    } 
    to {
        color: #212529;
        background-color: white;
    }
}

.problemList {
    animation: problemListFade 1s;
    .problem {
        border-radius: 15px;

        .text {
            width: 100%;
        }

        .solveBtn {
            animation: solveBtnHover 0.5s;
            animation-direction: reverse;
            color: white;
            background-color: #212529;

            &:hover {
                animation: solveBtnHover 0.5s;
                color: #212529;
                background-color: white;
            }
        }
    }
}